<article
	class="border flex flex-col shadow-md border-gray-300 w-[250px] max-w-max min-h-[375px] basis-1/4 rounded-md overflow-hidden relative"
>
	<header class="w-full">
		<img
			[src]="hotel.imageUrl"
			[alt]="hotel.hotelName"
			[title]="hotel.hotelName"
			class="object-cover w-full h-auto"
		/>
	</header>
	<div class="p-5 text-center">
		<div class="flex items-center justify-between gap-1">
			<h3 class="my-1 text-2xl font-bold text-gray-500 basis-4/5">
				{{ hotel.hotelName | titlecase }}
			</h3>
			<strong class="font-bold">{{
				hotel.price
					| currency : "EUR" : "symbol" : "1.2-2" : "fr"
					| replaceComma
			}}</strong>
		</div>
		<!-- hotel.price | currency : 'EUR':'symbol':'1.2-2':'fr' -->
		<!-- currency: 'EUR' === definie le code que nous voulons avoir pour la monnaie, par defaut c'est DOLLAR mais nous ici on met EUR pour l'euro -->

		<!-- symbol: '1.2-2' === definie sous quel forme est-ce que nous voulons avoir notre prix, cette combinaison de chiffre veut dire: le 1. signifie que nous voulons avoir au minimum un chiffre avant la virgule, le 2 signifie que nous voulions avoir au minimum 2 chiffre après le titrer et le moins 2 (-2) signifie que nous voulions avoir au maximum 2 chiffre après la virgule et le dernier qui est "fr" veut dire nous voulons afficher le prix sous le format d'ecriture francais -->
		<p>{{ hotel.description }}</p>
	</div>
	<app-star-rating [rating]="hotel.rating" />
	<a [routerLink]="['/hotels', hotel.id]" class="absolute inset-0 block"></a>
</article>
