<nav class="bg-slate-50">
	<div class="container min-h-[80px] flex flex-wrap items-center gap-5">
		<a href="#" class="text-2xl font-medium">Gestion Hotel</a>
		<ul class="flex flex-wrap items-center gap-3">
			<li>
				<a
					routerLink="/"
					class="text-sm text-gray-600"
					routerLinkActive="text-gray-700 text-base font-medium"
					>Acceuil</a
				>
			</li>
			<li>
				<a
					routerLink="/Liste"
					class="text-sm text-gray-600"
					routerLinkActive="text-gray-700 text-base font-medium"
					>Liste</a
				>
			</li>
		</ul>
	</div>
</nav>
